//////////////////////////////////////////////////////////////////////////////////////
//// * reset start
//////////////////////////////////////////////////////////////////////////////////////
// font
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	// border: 0;
}
div, span, article, section, header, footer, p, ul, li, fieldset, legend, label, a, nav { box-sizing: border-box; }
html {
		height: 100%;
		font-size: 14px;
}
body {
	min-height: 100%;
	line-height: 1rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.row {
  padding:0;
  margin:0;
}

.left-none-padding {
  padding-left:0;
}

.right-none-padding {
  padding-right:0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, .col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-auto {
	position: relative;
	// width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
//////////////////////////////////////////////////////////////////////////////////////
//// * reset end
//////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////
//// * color set start
//////////////////////////////////////////////////////////////////////////////////////

$color-set-1: #ffffff; // bg
$color-set-2: #EBEEF1; // line
$color-set-3: #222222; // font
$color-set-4: #787BF8; // point
$color-set-5: #F5F6F8; // color bg
$color-set-6: #C6C6C6;


$aside-base-color: $color-set-1; 		// $color-set-1
$aside-line-color: $color-set-2; 		// $color-set-2

$main-font-color: $color-set-3; 			// $color-set-4
$sub-font-color: $color-set-4; 			// $color-set-4

$main-color-1: $color-set-1; 				// $color-set-6
$main-color-2: $color-set-5; 				// $color-set-6

$btn-color-1: $color-set-4;
$btn-color-2: $color-set-6;
$btn-color-3: $color-set-2;

$form-line-color: $color-set-2;

$other-color-1: #3A5CA9; // other-color-19
$other-color-2: #66C548; // other-color-16
$other-color-3: #FF5B55; // other-color-13
$other-color-4: #F3C734; // other-color-15
$other-color-5: #CA7FDD; // other-color-18
$other-color-6: #43B0F2; // other-color-17
$other-color-7: #00B6F1; // other-color-20
$other-color-8: #F79D34; // other-color-14

.bg-test-1 {
  background: $other-color-1;
}
.bg-test-2 {
  background: $other-color-2;
}
.bg-test-3 {
  background: $other-color-3;
}
.bg-test-4 {
  background: $other-color-4;
}
.bg-test-5 {
  background: $other-color-5;
}

//////////////////////////////////////////////////////////////////////////////////////
//// * color set end
//////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////
//// * font set start
//////////////////////////////////////////////////////////////////////////////////////
.sub-title {
	font-size: 0.9rem;
	padding: 0;
	margin:0;
}

.sub-title.bold {
	font-size: 0.9rem;
	font-weight: bold;
}

.font-dark {
	color: $main-font-color;
}

// .font-grey {
// 	color: $main-sub-font-color;
// }

//////////////////////////////////////////////////////////////////////////////////////
//// * font set end
//////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////
//// * layout start
//////////////////////////////////////////////////////////////////////////////////////

body {
  font-family: 'Gothic A1', sans-serif;
	color: $main-font-color;
}

.app {
  height: 100%;
  padding: 0;
}

/** auth start **/
.content-auth {
  width:100vw;
  height: 100vh;
  background-color: $main-color-2;

  .auth-box {
    width: 500px;
  }

  .table tr td {
    padding: 15px;
  }

  .text-center {
    text-align: center;
  }

}

/** auth end **/


/** main start **/
.content {
  width: calc(100vw - 350px);
  padding: 0;
}

.main-header-section {
  height: 100px;
  background-color: $main-color-1; 
  border-bottom: 1px solid $aside-line-color;
  
  .header-box-top {
    height: 50px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    align-items: center;
    h1 {
      font-size: 1.8rem;
      margin-right: auto;
      white-space:nowrap;
    }    
    .form-control {
      margin-left: 100px;
    }
  }
  .header-box-bottom {
    // height: 50px;
    
    ul {
      padding: 0 10px;
      li {
        
        a {
          height: 50px;
          padding: 0 20px;
          font-size: 1.2rem;
          text-decoration: none;
          color: $main-font-color
        }
        a.selected {
          color: $btn-color-1;
          border-bottom: $btn-color-1 solid 2px;  
        }
        a.disableClick {
          color: #bbbbbb;
        }        
        a.add {
          color: $btn-color-1;
        }
      }
    }
  }
}

.main-content-section {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: $main-color-2;
  .row {
    .menu-item-box {
      min-height: 100%;
      .img-box {
        padding-bottom: 70%;
        background-size: cover;
        background-position: center center;
      }      
      .img-box-loading {
        background: #aaa;
        padding-bottom: 70%;
        background-size: cover;
        background-position: center center;        
      }
      // .img-box {
      //   overflow: hidden;
      //   img {
      //     max-height: 100%;
      //   }
      // }
    }
    .btn-add-modal-show {
      text-decoration: none;
    }
    .menu-add-box {
      min-height: 100%;
      padding-bottom: 90%;
      background-color: $btn-color-2;
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        size: 30px;
        text-decoration: none;
        color: $main-font-color;
      }
    }
  }
} // end .main-content-section

/** aside start **/

aside {
  position: relative;
  width: 350px;
  height: 100vh;
  background-color: $aside-base-color;
  border-left: 1px solid $aside-line-color;  
  .side-header {
    border-bottom: 1px solid $aside-line-color;
    height: 100px;
    .title-box {
      height: 50px;
      h2 {
        font-size: 1.8rem;
      }
      a i {
        font-size: 24px;
        color: $main-font-color;
      }
      a:hover i {
        color: $sub-font-color;
      }
    }
    .info-box {
      height: 50px;
    }
  }
  
  %side-content {
    ul {
      li.order-result-list {
        border-bottom: 1px dashed #777777;
        .date {
          padding-bottom: 10px;
          font-weight: bold;
        }        
      }
      li {
        border-bottom: 1px solid $aside-line-color;
        .order-title-box {
          width: 200px;
          h4 {
            font-size: 1.2rem;
          }
        }
        .order-btn-box {
          width: 150px;
          .form-control {
            width: 40px;
            height: 30px;
          }
        }
        ul.order-inner-list {

          width: 100%;
          li {
            border-bottom: none;
            // list-style-position: inherit;
            // list-style: disc;
            // list-style-type: disc;
            font-size: 15px;
            margin-bottom: 7px;
          }  
          li.total {
            
            border-top: 1px solid $aside-line-color;
            padding-top: 10px;
            margin-bottom: 0;
            p {
              font-weight: bold;
            }
            
          }
        }
      }
    }    
  }

  .side-content {
    height: calc(100vh - 220px);
    @extend %side-content;
  }

  .side-content-admin {
    height: calc(100vh - 100px);
    @extend %side-content;
  }
  
  .side-bottom {
    height: 120px;
    width: 100%;
    border-top: 1px solid $aside-line-color; 

    .side-bottom-header {
      width: 100%;
      height: 50px;
      p {
        font-size: 1.6rem;
      }      
    }
    .side-bottom-button-box {
      width: 100%;
      height: 70px;
    }
  }
  // .aside-box {
  //   height: calc(100vh - 220px);
  // }
  .side-bottom-admin {
    height: 0;
  }

  .side-order-bg {
    width: 100%;
    height: 100%;
    background-color: $color-set-6;
  }
} // end aside


// .add-cateegory-modal {
//   ul.category-list {
//     li {
//       // padding: 5px;
//       padding-bottom: 10px;
//     }
//   }
// }

ul.category-list {
  .form-category-edit {
    margin-bottom: 15px;
  } 
 } 

.card {
  border: 1px solid $aside-line-color;
  // box-shadow: 3px 3px 5px 0 #eeeeee;
  cursor:pointer;

  .card-header {
    background-color: $main-color-1;
    border-bottom: none;
    
  }
  .card-body {
    
    label {
      font-size: 1rem;
      margin-bottom: 5px;
    }
    // input[type="text"] {
    //   margin-bottom: 20px;
    // }
    .input-box {
      position: relative;;
    }
  }
}

.card.auth {
  padding-left: 30px;
  padding-right: 30px;
  .card-header {
    padding: 30px 0;
  }
  .card-body {
    padding: 0;
  }
  .card-bottom {
    padding: 10px 0 30px 0;
  }
}

.modal-dialog {
  z-index:9999;  
  .modal-header {
    padding: 20px;
    border-bottom: 1px solid $aside-line-color;
  }
  .modal-body {
    padding: 20px;
  }
  .modal-footer {
    padding: 20px;
    border-top: 1px solid $aside-line-color;
    .item-bottom {
      button {
        width: 100%;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////
//// * layout end
//////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////
//// * common start
//////////////////////////////////////////////////////////////////////////////////////
.form-control {
  min-height: 0;
}

//  input[type=text].form-control, input[type=password].form-control {
//   border: 1px solid $aside-line-color;
// }

.form-control, .form-select {
  border: 1px solid $aside-line-color;
}

.card {
  border: 1px solid $aside-line-color;
}

.border-line {
  border: 1px solid $aside-line-color;
}

.btn-ui {
  width: 30px;
  height: 30px;
  border: 1px solid $aside-line-color;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

//** scrollbar 
.simplebar {
	overflow-y: scroll;
	/* 스크롤 숨기고 스크롤은 되게: IE, Edge, Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;	
}
.simplebar::-webkit-scrollbar {
	display: none;
}
.simplebar-scrollbar {
	opacity: 0.2;
}

.link {
  color: $btn-color-2
}
.link:hover, .link:active {
  color: $btn-color-1;
}

/* modal 추가됨. */
.modal-bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  // background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */    
}
.modal-bg::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.modal-bg.show {
  display: block;
}

.modal-content.show {
  display: block;
}

/* custom shadow */
.ct-shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}


.ct-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.ct-shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.ct-shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
}

.ct-shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
}

.ct-shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

/* custom validate */
.invalid-feedback.was-validated {
  display: block;
}

.inputError {
  border: 1px solid red;
}


/* loading-box */
.loading-box {
  z-index:100; 
  text-align:center; 
}
.loading-box .circles {padding-top:10px;}
.loading-box .circles i {animation:scaleBounce .3s alternate infinite; display:inline-block; margin:0 4px; width:10px; height:10px; background:#00a5e5; border-radius:50em;}
.loading-box .circles i:nth-child(2) {animation-delay:.1s;}
.loading-box .circles i:nth-child(3) {animation-delay:.2s;}
.loading-box p {margin-top:20px; font-size:18px;}
@keyframes scaleBounce{
	from {transform:scale(.7)}
	to {transform:scale(1.3)}
}
//////////////////////////////////////////////////////////////////////////////////////
//// * common end
//////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////
//// * media start
//////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 576px) {
  .content-auth {
    .auth-box {
      width: 300px;
    }
  }
}
//////////////////////////////////////////////////////////////////////////////////////
//// * media end
//////////////////////////////////////////////////////////////////////////////////////